    div {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 20px;
    }
    
    /* Título */
    h2 {
        font-size: 2rem;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }
    
    /* Estilo da lista de livros */
    ul {
        list-style: none;
        padding: 0;
    }
    
    ul li {
        background-color: #fff;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    
    ul li:last-child {
        margin-bottom: 0;
    }
    
    /* Estilo dos detalhes dos livros */
    ul li br {
        margin-bottom: 10px;
    }
    
    ul li span {
        font-weight: bold;
        color: #4CAF50;
    }
  
  /* Estilo de cada detalhe do livro */
  ul li p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .livros-container{display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-author,
.card-gen,
.card-year,
.card-vezes {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.card-author {
  font-style: italic;
}

.card-gen {
  color: #777;
}

.card-year {
  font-weight: 600;
}

.card-vezes {
  color: #999;
}

@media (max-width: 768px) {
  .livros-container {
    justify-content: center;
  }

  .card {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .livros-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}
/* botao que leva pra pag de livros mais emprestados */
.btn {
  position: absolute;
  top: 15px;
  left: 1300px;
  padding: 10px 20px;
  background: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  background: #45a049;
}

.btn:focus {
  outline: none;
}