<section class="hero">
    <div class="container">
      <h2>Bem-vindo ao Livros & Cia</h2>
      <p>Explore um mundo de histórias, aventuras e conhecimentos.</p>
      <a href="http://localhost:4200/livros" class="btn">Explorar Livros</a>
    </div>
  </section>
  
  <section id="categorias" class="categorias">
    <div class="container">
      <h2>Categorias</h2>
      <div class="lista-categorias">
        <div class="categoria">
          <h3>Ficção</h3>
          <p>Mergulhe em mundos imaginários e histórias épicas.</p>
        </div>
        <div class="categoria">
          <h3>Não-Ficção</h3>
          <p>Descubra fatos, biografias e conhecimentos reais.</p>
        </div>
        <div class="categoria">
          <h3>Ciência</h3>
          <p>Explore os mistérios do universo.</p>
        </div>
        <div class="categoria">
          <h3>História</h3>
          <p>Reviva o passado e suas histórias.</p>
        </div>
      </div>
    </div>
  </section>

